:root {
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);
	--theme: #dedbd1;
	--fontSerif: 'Roboto Serif', serif;
	--brown: rgba(58, 51, 46, 1);
	--tablet: 767px;
}

html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	background: var(--theme);
}

#root {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

p {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2;
	text-align: justify;
}

/* Section general styling*/
.section__wrapper {
	position: relative;
	width: 100%;
	padding: 25px;
	margin: 25px auto;
}

.section__wrapper h3 {
	font-size: 32px;
	font-weight: 300;
}

.section-title__wrapper {
	margin: 15px 0;
}

.section-content__wrapper img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.section-content__wrapper h4 {
	margin: 15px 0;
}

.subSection__wrapper {
	position: relative;
	width: 100%;
	padding: 0 25px;
}

.subSection__wrapper h3 {
	font-size: 32px;
	font-weight: 300;
}

.subSection__container {
	max-width: 720px;
}

.section-picTop__wrapper {
	position: relative;
	width: 100%;
	text-align: center;
}

.section-picTop__wrapper img {
	width: 100%;
	object-fit: contain;
	max-width: 720px;
}

.section-picTop__inner {
	position: relative;
	width: 100%;
	padding: 25px;
	margin: 25px 0;
}

.section-picTop__inner h3 {
	font-size: 32px;
	font-weight: 300;
}

.general__wrapper {
	position: relative;
	width: 100%;
	padding: 25px;
}

/* Bigger than 767px */

/* Footer */
.footer {
	background: var(--brown);
	color: var(--white);
}

.footer-title {
	font-size: 12px;
	font-family: var(--fontSerif);
	font-weight: 100;
}

.socialmedia__inner {
	margin: 10px 0;
}
@media only screen and (min-width: 767px) {
	.section__wrapper.social-media {
		max-width: 100%;
	}

	.section__wrapper {
		max-width: 720px;
	}
}

/* Button */
.contact-button__wrapper {
	width: 100%;
	display: block;
	position: relative;
	margin: 15px 0;
}

.contact-button__wrapper .contact-button {
	display: block;
	width: 100%;
	background: var(--theme);
	padding: 15px;
	font-weight: 300;
	border: 1px solid var(--brown);
}

.contact-button__wrapper .contact-button:hover {
	opacity: 0.8;
	cursor: pointer;
}

.contact-button__wrapper.arrow-right::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('/images/icon/arrow-right-square-fill.svg');
	background-size: cover;
	margin-right: 15px;
	top: 12px;
	right: 0;
}
